extends layout

block content
  .main.container
    .row.text-xs-center
      .col-md-6.col-md-offset-3.p-t-2
        img.img-circle(src='/images/wrongPlace.jpg', alt='wrongplace!')
        p.lead.m-t-2= message
        h4.text-xs-left Whoa there buddy! You're in the wrong place. Head back towards the starlight!
        h4.text-xs-left Or just hit the back button. 
