extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p Fundbot was established to help students of all backgrounds get the education they need.
        p Sign up today! It's free.

        p Want to get involved? Drop us a line on our contact page.

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Get Started for FREE
