extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contact Us
        p We're eager to hear from you! Drop us a line today.

        a.btn.btn-primary(href='mailto:scott@inventive.io') Get in touch


