extends layout

block content
  .main.container.text-xs-left
    h1.display-3 Change your life, Get funded.
    p.lead Wanting to get into a top coding bootcamp? We're here for you.
    a.btn.btn-info-outline.btn-lg(href='/register') Apply today for FREE!


