extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.display-4
          img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar')
          | Hello, #{name}!
        h2.applicationStatus Your Application Status:
        | #{status}
        h2.groups Your groups:
        - const choices = tags
        ul.tags 
          each choice in choices
            li= choice
        a(href="/update")
          button.btn.btn-primary(type='button') Update My Profile

